{
	"assets": {
		"assetPath":"assets/",
		"imagePath":"images/",
		"audioPath":"audio/",
		"fontPath":"font/"	
	},

	"screen":{
		"X":0,
		"Y":0,
		"width": 640,
		"height": 480,
		"scale": 1
	},

	"debug":{
		"level": "ERROR",
		"filter": ""
	},

	"font":{
		"hinting": "none",
		"size": 12.0,
		"dpi": 72.0,
		"color": "white"
	},

	"frameRate": 60,
	"drawFrameRate": 60,
	"language": "English",
	"title": "Oak Window",
	"batchLoad": false,
	"gestureSupport": false,
	"disableKeyHold": false
}